:root {
    --darkest-purple: #070F2B;
    --mid-dark-purple: #1B1A55;
    --mid-light-purple: #535C91;
    --lightest-purple: #9290C3;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 500px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--lightest-purple);
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--mid-light-purple);
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--lightest-purple);
}

.chat-username {
    font-weight: bold;
    margin-bottom: 5px;
}

.chat-time {
    font-size: 0.8em;
    color: var(--mid-light-purple);
    margin-bottom: 5px;
}

.chat-text {
    font-size: 1em;
    color: var(--darkest-purple);
}

.chat-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--mid-light-purple);
    border-top: 1px solid #ccc;
    /* margin-right: 10px; */

}

.chat-input input {
    flex: 1;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    /* flex-grow: 1; */
    /* background-color: */
}

.chat-input button {
    /* flex-shrink: 0; */
    width: 100%;
    margin-bottom: 10px;
}

.help-message {
    color: var(--mid-light-purple);
}

.message-form {
    width: 100%;
}