@page "/"

<PageTitle>Home</PageTitle>

<section class="main-intro">
    <h1>Welcome to Tetris!</h1>
    <p>
        This is our version of Tetris99, where you can play Tetris competitively against others!
    </p>
</section>

<section class="instructions">
    <section class="instruction-step">
        <div class="instruction-text">
            <h3>Joining a Game</h3>
            <p>
            To start playing, register for an account and verify your email. Then log in and visit the Profile page to
            create a player account.
            </p>
            <p>
            From here, you can browse the Games List and select a game to join and start playing.
            </p>
        </div>
    </section>

    <section class="instruction-step">
        <div class="instruction-text">

            <h3>Viewing a Game</h3>
            <p>
                If you're not ready to play, you can still watch others play by visiting the Games List and
                clicking "Spectate" next to the ID of the game you would like to view. From here, you can
                toggle between players and watch their progress.
            </p>
        </div>
    </section>

    <section class="instruction-step">
        <div class="instruction-text">

            <h3>Viewing Results</h3>
            <p>
                To view the results of a past game, visit the Games List and click "View Results" next to the game ID.
            </p>
        </div>
    </section>

</section>