@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Tetris!</h1>
<p>
    This is our version of Tetris99, where you can play Tetris competitively against others!
    <br />
    <br />
    <h3>Joining a Game</h3>
    To start playing, register for an account and verify your email. Then log in and visit the Profile page to create a player account.<br /><br />
    From here, you can browse the Games List and select a game to join and start playing.

    @* <h3>Viewing a Game</h3> *@


</p>