@page "/manageGames"
@using TetrisWeb.ApiServices;
@using Microsoft.AspNetCore.Identity;
@using TetrisWeb.AuthData;
@inject GameService gameService;
@inject UserManager<ApplicationUser> userManager;

@*TODO: Authorize for admins only*@
<button @onclick="CreateGame">CreateGame</button>
<button @onclick="EndGame">EndGame</button>
<Dropdown Color="DropdownColor.Secondary">
    <DropdownToggleButton>Dropdown button</DropdownToggleButton>
    <DropdownMenu>
        @foreach (GameData.Game game in games){
			<DropdownItem></DropdownItem>
		}
    </DropdownMenu>
</Dropdown>

@code {
	string authId = "jfnsjgoewrnonnmjwkgfnpwerngwengpw";
	List<GameData.Game> games;

	public async Task CreateGame(){
		games.Add(gameService.CreateGameAsync(authId));
		return;
	}
	public async Task EndGame(){
		await gameService.EndGameAsync();
		return;
	}
}
