:root {
    --darkest-purple: #070F2B;
    --mid-dark-purple: #1B1A55;
    --mid-light-purple: #535C91;
    --lightest-purple: #9290C3;
    --light-blue: #a9dedc;
}

body {
}


table {
    color: var()

}



:root {
    --darkest-purple: #070F2B;
    --mid-dark-purple: #1B1A55;
    --mid-light-purple: #535C91;
    --lightest-purple: #9290C3;
    --light-blue: #a9dedc;
}



body {
}

h3 {
    color: var(--light-blue)
}

/*.leaderboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--mid-light-purple);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .leaderboard-container h3 {
        text-align: center;
        margin-bottom: 20px;
        color: var(--light-blue);
    }*/

.user-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--mid-light-purple);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #a19fcf;
    border-radius: 8px;
    overflow: hidden;
}

    .user-table th, table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .user-table th {
        background-color: var(--mid-dark-purple);
        color: white;
    }

    .user-table tr:nth-child(even) {
        background-color: var(--lightest-purple);
    }

    .user-table tr:hover {
        background-color: #adabd9;
    }

    .user-table td {
        color: var(--darkest-purple);
    }


#profile-image {
    width: 40%;
}
button {
    border-radius: 0.5em;
}