@page "/profile"

<h2>Profile</h2>
@*if user is not logged in, redirect them to the log-in page*@
@*try to access the player's info; if it doesn't exist, show them the interface to register to play*@



@code {

}

