@page "/tetris"
@inherits LayoutComponentBase
@using TetrisWeb.Components.Models;
@using TetrisWeb.Components.Pages.Partials;
@using TetrisWeb.ApiServices;
@inject IJSRuntime _jsRuntime;
@inject GameSessionService gameSessionService;
@inject GameService gameService;

<script>
    window.SetFocusToElement = (element) => {
    element.focus();
    };
</script>

<HeadContent>
    <title>Tetris</title>
</HeadContent>

<div class="row">
    <div class="col">
        @if (gameSessionService.GameStateGrid.State == GameState.NotStarted)
        {
            <button @onclick="RunGame" class="btn btn-primary">Start!</button>
        }
        @if (gameSessionService.GameStateGrid.State == GameState.GameOver)
        {
            <button @onclick="NewGame" class="btn btn-primary">New Game!</button>
        }
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="tetris-container" tabindex="0" @onkeydown="KeyDown" @ref="gameBoardDiv">
            @for (int i = gameSessionService.GameStateGrid.Height; i >= 1; i--)
            {
                <div class="tetris-row">
                    @for (int j = 1; j <= gameSessionService.GameStateGrid.Width; j++)
                    {
                        <GridCell Row="i" Column="j" Tetromino="gameSessionService.currentTetromino" Grid="gameSessionService.GameStateGrid" />
                    }
                </div>
            }
        </div>
    </div>
    <div class="col">
        @if (gameSessionService.GameStateGrid.State == GameState.GameOver)
        {
            <h1>Game Over!</h1>
            <p>Thanks for playing!</p>
        }
        @if (gameSessionService.GameStateGrid.IsStarted)
        {
            <div class="row">
                <div class="col">
                    <h2>Upcoming Pieces</h2>
                </div>
            </div>
            <TetrominoDisplay Style="gameSessionService.nextStyle" />
            <TetrominoDisplay Style="gameSessionService.secondNextStyle" />
            <TetrominoDisplay Style="gameSessionService.thirdNextStyle" />
            <div class="row">
                <div class="col">
                    <h3>Controls</h3>
                    <span>&#8592;</span> / <span>&#8594;</span> Move Tetromino<br />
                    <span>&#8593;</span>: Rotate Tetromino<br />
                    <span>&#8595;</span>: Move Down <br />
                    <span>Space</span>: Quick Drop Tetromino<br />
                </div>
            </div>
        }
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <h2>Score: @score</h2>
                <span>Previous High Score: @previousHighScore</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Level: @level</h2>
            </div>
        </div>
    </div>
</div>


@code {
    Grid grid => gameSessionService.GameStateGrid;

    TetrominoGenerator generator = new TetrominoGenerator();

    Tetromino currentTetromino;

    TetrominoStyle nextStyle;
    TetrominoStyle secondNextStyle;
    TetrominoStyle thirdNextStyle;

    int standardDelay = 1000;

    bool skipDelay = false;

    int level = 1;
    int score = 0;
    int previousHighScore = 0;
    string previousScoreCookieValue = "Nothing";

    protected ElementReference gameBoardDiv;

    protected override async Task OnInitializedAsync()
    {

    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _jsRuntime.InvokeVoidAsync("SetFocusToElement", gameBoardDiv);
        }
    }

    public void NewGame()
    {
        gameSessionService.ResetGame();
        currentTetromino = null;
        level = 1;
        if (score > previousHighScore)
        {
            previousHighScore = score;
        }
        score = 0;
    }

    public async Task RunGame()
    {
        gameSessionService.RunGameSession();
        await _jsRuntime.InvokeVoidAsync("SetFocusToElement", gameBoardDiv);
    }

    public async Task Delay(int millis)
    {
        int totalDelay = 0;
        while (totalDelay < millis && !skipDelay)
        {
            totalDelay += 50;
            await Task.Delay(50);
        }
        skipDelay = false;
    }

    public async Task RunCurrentTetromino()
    {
        gameSessionService.RunCurrentTetromino();
    }

    public void LevelChange()
    {
        int counter = 1;
        int scoreCopy = score;
        while(scoreCopy > 4000)
        {
            counter++;
            scoreCopy -= 4000;
        }

        int newLevel = counter;
        if(newLevel != level)
        {
            standardDelay = 1000 - ((newLevel - 1) * 100);

            level = newLevel;
        }
    }

    public async Task ClearCompleteRows()
    {
        List<int> rowsComplete = new List<int>();
        for (int i = 1; i <= gameSessionService.GameStateGrid.Height; i++)
        {
            if (gameSessionService.GameStateGrid.Cells.GetAllInRow(i).Count == gameSessionService.GameStateGrid.Width)
            {
                gameSessionService.GameStateGrid.Cells.SetCssClass(i, "tetris-clear-row");

                rowsComplete.Add(i);
            }
        }

        if(rowsComplete.Any())
        {
            StateHasChanged();

            gameSessionService.GameStateGrid.Cells.CollapseRows(rowsComplete);

            switch (rowsComplete.Count)
            {
                case 1:
                    score += 40 * level;
                    break;

                case 2:
                    score += 100 * level;
                    break;

                case 3:
                    score += 300 * level;
                    break;

                case 4:
                    score += 1200 * level;
                    break;
            }

            await Task.Delay(1000);
        }
        gameSessionService.GameStateGrid.State = GameState.Playing;
    }

    protected async Task KeyDown(KeyboardEventArgs e)
    {
        if (gameSessionService.GameStateGrid.State == GameState.Playing)
        {
            if (e.Key == "ArrowRight")
            {
                await gameSessionService.MoveRight(1);
            }
            if (e.Key == "ArrowLeft")
            {
                await gameSessionService.MoveLeft(1);
            }
            if(e.Key == " ")
            {
                int addlScore = await gameSessionService.Drop();
                score += addlScore;
                skipDelay = true;
                StateHasChanged();
            }
            if(e.Key == "ArrowDown")
            {
                await gameSessionService.MoveDown(1);
            }
            if(e.Key == "ArrowUp")
            {
                await gameSessionService.Rotate();
            }
            StateHasChanged();
        }
    }
}

