@*
    This page creates the tetrominos visually on the board. It styles them based off their stored 
    "ExtraCSS" string and places them on the board based on their row & column.
    Notice that it has it's own css file, this must be modified for any changes
*@

﻿@using TetrisWeb.Components.Models;

@{
    string extraCSS = "";
    if (Grid.IsStarted)
    {
        if (Tetromino.CoveredCells.Contains(Row, Column))
        {
            extraCSS = "tetris-piece " + Tetromino.CssClass;
        }

        if (Grid.Cells.Contains(Row, Column))
        {
            extraCSS = "tetris-piece " + Grid.Cells.GetCssClass(Row, Column);
        }
    }
}

<div id="@(Row + "-" + Column)" class="tetris-cell @extraCSS"></div>

@code {
    [Parameter]
    public int Row { get; set; }

    [Parameter]
    public int Column { get; set; }

    [Parameter]
    public Tetromino Tetromino { get; set; }

    [Parameter]
    public Grid Grid { get; set; }
}


